{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p> </p>


    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad" >

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ user.firstname }} {{ user.lastname }}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{{ asset('images/homme_abeille.png') }}" class="img-circle img-responsive"> </div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>Username:</td>
                                    <td>{{ user.username }}</td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td><a href="{{ user.email }}">{{ user.email }}</a></td>
                                </tr>
                                <tr>
                                    <td>subscription date:</td>
                                    <td>{{ user.created | date("d/m/Y H:i") }}</td>
                                </tr>
                                <tr>
                                    <td>Home Address</td>
                                    <td>{{ user.postalAdress }} {{ user.zipcode }} {{ user.city }}</td>
                                </tr>

                                </tr>

                                </tbody>
                            </table>

                            <a href="#" class="btn btn-primary">My Sales Performance</a>
                            <a href="/product/{{user.id}}/profile" class="btn btn-primary">My products</a>
                            <a href="/order/user/{{user.id}}" class="btn btn-primary">My orders</a>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                    <span class="pull-right">
                            <a data-original-title="Change password" href="/profile/change-password"  data-toggle="tooltip" type="button" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-lock"></i></a>
                            <a href="/profile/edit" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a href="/product/new" data-original-title="Add a product" data-toggle="tooltip" type="button" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-briefcase"></i></a>
                        </span>
                </div>

            </div>
        </div>
    </div>


{% endblock fos_user_content %}


{% block javascripts %}<script src="{{ asset('js/main.js') }}" />{% endblock %}