{% extends 'base.html.twig' %}

{% block body %}

    {# Condition pour récupérer le bid final #}
    {% if (bids[1]) is defined %}
        {% if (bids[0].bidAccount > bids[1].bidAccount and bids[0].bidAccount > bids[1].bidAccount + product.bidMinimum ) %}
            {% set bid = bids[1].bidAccount + product.bidMinimum %}
        {% elseif (bids[0].bidAccount > bids[1].bidAccount and bids[0].bidAccount <= bids[1].bidAccount + product.bidMinimum ) %}
            {% set bid = bids[0].bidAccount %}
        {% elseif (bids[0].bidAccount == bids[1].bidAccount  ) %}
            {% set bid = bids[0].bidAccount %}
        {% endif %}
    {% else %}
        {% if (bids[0] is defined) %}
            {% set bid = product.minimumPrice + product.bidMinimum %}
        {% else %}
            {% set bid = product.minimumPrice %}
        {% endif %}
    {% endif %}

<div class = "container">
    <div class="row">
        <div class=" col-md-4 product_img">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        {% set i = 0 %}
                        {% for image in product.images %}
                            {% if i == 0 %}
                                <div class="item active">
                                    <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('thumb_bid') }}" alt="{{ image.name }}"  >
                                </div>
                            {% else %}
                                <div class="item">
                                    <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ image.name }}"  >
                                </div>
                            {% endif %}
                            {% set i = i+1 %}
                        {% endfor %}
                    </div>
                </div>


        </div>
        <div class=" col-md-4 product_content">
            <h2>{{ product.title }}</h2>
            <p>{{ product.description }}</p>
            <h3 class="cost" >Actual bid : <span class="glyphicon glyphicon-usd"></span> {{ bid }} <small class="pre-cost"><span class="glyphicon glyphicon-usd"></span> {{ product.minimumPrice }}</small></h3>
            <h4> End of bid : <span id="countdown" class = "label label-warning">  </span></h4>
            {% if product.immediatePrice is not null %}
            <h3 class="cost" >Immediate price : <span class="glyphicon glyphicon-usd"></span> {{ product.immediatePrice }} </h3>
            {% endif %}
            <div class="space-ten"></div>
            <div class="btn-ground">
                {% if date(product.biddingEnd) > date() %}
                <a href="{{ path('orderproductBid_show', {'id': product.id}) }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-piggy-bank"></span> Bid</button></a>
                {% endif %}
                {% if product.immediatePrice is not null %}
                <a href="{{ path('orderproductBuy_pay', {'id': product.id}) }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-usd"></span> Buy now</button></a>
                {% endif %}
            </div>
            <span id="EndBid">{{ product.biddingEnd|date('Y-m-d H:i:s') }}</span>
            <div class="detail-socials">
                <div class="social-sharing" >
                    <a target="_blank"  class="share-facebook" title="Share"></a>
                    <a target="_blank"  class="share-twitter" title="Tweet"></a>
                    <a target="_blank"  class="share-pinterest" title="Pin it"></a>
                </div>
            </div><br>
            {% if (rate.NB > 0) %}
            <div class="btn-ground">
                <h4><strong>rate : </strong><span class = "label label-warning">{{ rate.AVG | number_format(2, '.', ',')}} <i class = "glyphicon glyphicon-star"></i></span> for {{ rate.NB }} rater(s) </h4>
            </div>
            {% endif %}
            <div class="btn-ground">
                Number of views : {{ product.productVisits }}
            </div>
        </div>
        {% if (app.user.id != product.user.id) %}
        <div class = "col-md-4 pull-left">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Rate" class = "btn btn-success" />
            {{ form_end(form) }}
        </div>
        {% endif %}
    </div>
    <div class="row">

        {% if (rate.NB > 0) %}
        <h1>Rates and comments</h1>
        {% for rates in rateProduct %}
            <div>
                {% if (rates.rate < 3) %}
                <p>Rate : <span class = "label label-danger">{{ rates.rate }}</span> by <strong>{{  rates.rater.username }}</strong></p>
                {% elseif (rates.rate == 3) %}
                <p>Rate : <span class = "label label-warning">{{ rates.rate }}</span> by <strong>{{  rates.rater.username }}</strong></p>
                {% elseif (rates.rate > 3) %}
                <p>Rate : <span class = "label label-success">{{ rates.rate }}</span> by <strong>{{  rates.rater.username }}</strong></p>
                {% endif %}
                <p><em>{{ rates.comment }}</em></p>

            </div>


            <hr/>
        {% endfor %}
        {% endif %}
    </div>
</div>


    <script>
        document.getElementById("EndBid").style.display = 'none';
        var countDownDatePHP = document.getElementById("EndBid").innerHTML;
        YearBid = countDownDatePHP.substr(0,4);
        MonthBid = countDownDatePHP.substr(5,2);
        DayBid = countDownDatePHP.substr(8,2);
        HourBid = countDownDatePHP.substr(11,2);
        MinBid = countDownDatePHP.substr(14,2);
        SecBid = countDownDatePHP.substr(17,2);
        countDownDate = new Date(YearBid, MonthBid - 1,DayBid, HourBid, MinBid,SecBid).getTime();

        // Set the date we're counting down to
        //var countDownDate2 = new Date("Sep 5, 2018 15:37:25").getTime();

        // Update the count down every 1 second
        var x = setInterval(function() {

            // Get todays date and time
            var now = new Date().getTime();
            // Find the distance between now an the count down date
            var distance = countDownDate - now;
            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            if (days == 1)
                var jour = " day ";
            else
                var jour = " days ";
            document.getElementById("countdown").innerHTML = days + jour + hours + "h "
                + minutes + "m " + seconds + "s ";

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("countdown").innerHTML = "EXPIRED";
            }
        }, 1000);
    </script>

{% endblock %}

