{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row" >
            {% for product in products %}
            <div class="col-md-4 ">
                <div class="thumbnail ">
                    {% set i = 0 %}
                    {% for image in product.images %}
                    {% if i == 0 %}
                        <img src="{{ vich_uploader_asset(image, 'imageFile')| imagine_filter('my_thumb') }}" alt="{{ image.name }}" class="img-responsive" >
                    {% endif %}
                        {% set i = i+1 %}
                    {% endfor %}
                    <div class="caption">
                        <h4 class="pull-right">${{ product.minimumPrice }}</h4>
                        <h4><a href="#">{{ product.title }}</a></h4>
                    </div>
                    <div class="space-ten"></div>
                    <div class="btn-ground text-center">
                        <a href="{{ path('ordershow', {'id': product.id}) }}"><button type="button" class="btn btn-primary" >more details</button></a>
                    </div>
                    <div class="space-ten"></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
