{% extends 'base.html.twig' %}

{% block body %}




    <div class = "row" style = "margin-top:50px;">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-success">
                <div class="panel-heading">
                <h3 class="panel-title">My products </h3>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="table-responsive">
                            <table id="tableProno" class="table table-condensed">
                                {% if products[0] is defined %}
                                <thead>
                                <th style="width:5%;"></th>
                                <th class= "text-center"  >Title </th>
                                <th class= "text-center" > Category </th>
                                <th class= "text-center" > Starting Price </th>
                                <th class= "text-center" > Immediate price </th>
                                <th class= "text-center" > Minimum bid  </th>
                                <th class= "text-center" > BiddingEnd  </th>
                                <th class= "text-center" > Number of visits </th>
                                <th class= "text-center" > Action </th>

                                </thead>
                                <tbody>

                {% for product in products %}
                <tr>
                        {% set i = 0 %}
                {% for image in product.images %}
                {% if i == 0 %}
                    <td class = "text-center "> <img src=" {{ vich_uploader_asset(image, 'imageFile')| imagine_filter('my_thumb') }}" alt="{{ image.name }}"></td>
                {% endif %}
                {% set i = i+1 %}
                {% endfor %}

                    <td class = "text-center" style="vertical-align:middle;"> {{ product.title }}</td>
                    <td class = "text-center" style="vertical-align:middle;"> {{ product.category }}</td>
                    <td class = "text-center" style="vertical-align:middle;"> {{ product.minimumPrice }}</td>
                    <td class = "text-center" style="vertical-align:middle;"> {{ product.ImmediatePrice }}</td>
                    <td class = "text-center" style="vertical-align:middle;"> {{ product.bidMinimum }}</td>
                    <td class = "text-center" style="vertical-align:middle;"> {{ product.biddingEnd | date('d/m/Y H:i') }}</td>
                    <td class = "text-center" style="vertical-align:middle;"> {{ product.productVisits }}</td>
                    <td class = "text-center" style="vertical-align:middle;">
                    <a href="/product/{{ product.id }}/edit"  type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                    </td>
                 {% endfor %}
                </tr>
                {% else %}
                <h2 class = "text-center"> You don't have any products </h2>
                                    {% endif %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}