{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row" >
            <h1 class = "text-center">Products of {{  products[0].user.username }}</h1>
            <div class="col-md-12">
                {% if (products | length > 0) %}
                        {% for product in products %}
                            <div class="col-md-4 "><br><br><br>
                                <div class="thumbnail ">
                                    {% set i = 0 %}
                                    {% for image in product.images %}
                                        {% if i == 0 %}
                                            <img src="{{ vich_uploader_asset(image, 'imageFile')| imagine_filter('my_thumb') }}" alt="{{ image.name }}" class="img-responsive" >
                                        {% endif %}
                                        {% set i = i+1 %}
                                    {% endfor %}
                                    <div class="caption">
                                        <h4 class="pull-right">start to <span class = "label label-default">${{ product.minimumPrice }}</span></h4>
                                        <h4>{{ product.title }}</h4>
                                    </div>
                                    <div class="space-ten"></div>
                                    <div class="btn-ground text-center">
                                        <a href="{{ path('ordershow', {'id': product.id}) }}"><button type="button" class="btn btn-primary" >more details</button></a>
                                    </div>
                                    <div class="space-ten"></div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else  %}
                    <h3 class = "text-center">this user doesn't sell any product</h3>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
