{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bid</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bid.id }}</td>
            </tr>
            <tr>
                <th>Bid</th>
                <td>{{ bid.bid }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if bid.created %}{{ bid.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if bid.updated %}{{ bid.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bid_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bid_edit', { 'id': bid.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
