{% extends 'base.html.twig' %}

{% block body %}
    <h1>Productrating</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ productRating.id }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ productRating.rate }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ productRating.comment }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('productrating_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('productrating_edit', { 'id': productRating.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
